{% extends("base.html.twig") %}


 {% block body %}


<div class="card" style="width: 500px;margin: 30px auto 0; border-style:none;">
    <img src="{{ asset('uploads/') }}{{app.user.image}}"  class="card-img-top rounded-circle" alt="...">
    <div class="card-body text-center">
        <h3 class="card-title">{{ name }}</h3>
        <p class="card-text">at prima aliquando est, eu etiam petentium ius. Has veri invenire gubergren id, id vis possit maiorum perfecto. Ut ipsum ridens est.</p>
        
    </div>
</div>

 {% endblock %}
