*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-size: 18px;
  font-family: sans-serif;
}

button {
  padding: 8px 30px;
  border-width: 0;
  background-color: #505050;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  transition: opacity 100ms ease-out;
}

button:hover {
  opacity: 0.7;
}

ul {
  position: relative;
  padding-top: 18px;
  width: 100%;
}

li {
  display: block;
  margin-top: 8px;
  padding: 8px 12px;
  width: 100%;
  background-color: #e5e5e5;
}


.post-item{
  width: 80%;
  min-height:  120px;
  background-color: #e5e5e5;
  margin-top: 15px;
  border-radius: 9px;
  /* overflow: hidden; */
}

.post-item:hover{
  border-style: 1px solid black;
}

.post-item hr {
  width: 98%;
}

.post-item i {
   color: #1DA1F2;
}

.post-item i:last-of-type {
  margin-left: 65%
}


.post-item-header{
  /* background-color: dimgrey; */
  /* padding: 5px; */
  padding-top: 10px;
}

.post-item-profile-img {
  border-radius: 50%;
  width: 50px;
  margin-left: 10px;
  margin-top: 10px;
}

.post-item-profile-img ~ span {
  color:#000;
  margin-left: 30px;
  font-weight: 700;
}


.post-item-profile-img~span:hover {
  color: #1DA1F2;
}

.post-item-body {
  padding: 5px;
}

.list-enter-active,
.list-leave-active,
.list-move {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
}

.list-enter {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}

.list-enter-to {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}

.list-leave-active {
  position: absolute;
}

.list-leave-to {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: center top;
}


/********* login *********/
.login-form{
  width: 340px;
  margin: 50px auto;
}